/* 
  新闻中心
 */
.newslist li{
  width: 390px;
  height: 480px;
  background: #f5f5f5;
  border-bottom: 1px solid #000;
  margin-left: 12px;
}
.newslist li:first-child{
  margin: 0;
}

.newslist li div{
  padding:12.5px;
}
.newslist li p:first-child{
  padding-top: 12.5px;
  font-size: 25px;
}
.newslist li span{
  font-size: 15px;
  color:#b2b2b2;
  line-height: 25px;
}
.newslist li :nth-child(3){
  color:#9f9f9f;
  font-size: 17.5px;
  line-height:31.25px;
}
.newslist li a{
  padding-top: 18.75px;
  font-size: 16.25px;
  color: #44607b;
  display: block;
  text-align: right;
}
.newsButton{
  margin: 43.75px auto;
}
.newslist .list1::before{
  content: ".";
  display: block;
  background:url(../image/huowu.jpg);
  background-size:1215px;
  background-position: -50px -247.5px;
  height: 220px;
  width: 100%;
}
.newslist .list2::before{
  content: ".";
  display: block;
  background:url(../image/about.jpg);
  background-size:675px;
  background-position: -140px -90px;
  height: 220px;
  width: 100%;
}
.newslist .list3::before{
  content: ".";
  display: block;
  background:url(../image/list7.jpg);
  background-size:760px;
  background-position: -25px -16px;
  height: 220px;
  width: 100%;
}
/* 
  联系我们
 */
.contactLeft{
  width: 470px;
  height: 490px;
  background: #f5f5f5;
}
.contactLeft .contactTitle span{
  top:-4px;
  padding-bottom: 20px;
}
.contactLeft .contactlist li{
  font-size: 21.25px;
  margin:0px 12.5px;
  padding:23px 0px;
  color:#666666;
  border-bottom: 1.25px solid #b2b2b2;
}
.contactLeft .contactlist li:last-child{
  border:none;
}
.contactright{
  width: 730px;
  height: 490px;
  overflow: hidden;
}
.contactright img{
  width: 100%;
}