/* 
  关于我们
 */
.about{
  display: flex;
  margin-top:60px;
}
.aboutimg{
  width: 500px;
  overflow: hidden;
  height: 350px;
  background: url(../image/about.jpg);
  background-position: -75px -86px ;
  background-size: 700px;
}
.aboutimg img{
  position: relative;
  top:-62.5px;
  /* left:50px; */
  width:725px;
}
.abouttext{
  margin-left:25px;
  width: 675px;
}
.abouttext .aboutp{
  letter-spacing: 2.5px;
  font-size: 37.5px;
  padding-bottom:12.5px;
}
.abouttext .aboutp::after{
  content: "About us";
  letter-spacing: 0px;
  font-size: 22.5px;
  line-height: 0px;
  position: relative;
  top:3.75px;
  left:12.5px;
}
.abouttext span{
  display:block;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 30px;
  margin-bottom: 10px;
}
/* 
  主营业务 
*/
.mainlist li{
  width: 285px;
  height: 310px;
  background-color: #f5f5f5;
  margin-left: 20px;
  text-align: center;
}

.mainlist li::before{
  content:".";
  display: block;
  width: 150px;
  height: 150px;
  background-color: #375572;
  margin:30px auto 0px auto;
}
.mainlist li p{
  font-size: 22.5px;
  margin-top: 18.75px;
}
.mainlist li .spanone{
  display: block;
  margin:2.5px 0px 10px 0px;
  font-size: 18px;
  color:#b2b2b2;
}
.mainlist li .spantow{
  color: #44607b;
  font-size: 12.5px;
}
